@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(222, 172, 78);
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 80px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: absolute;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: orange;
  height: 225px;
  width: 225px;
  border-radius: 80%;
  position: absolute;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 47%;
  left: 53%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 35px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
  font-weight: bolder;
  font-size: 1.5vw;
}

nav ul li i {
  font-size: 30px;
  margin-right: 10px;

}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav a{
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover {
  color: black;
  font-weight: bold;
}

.content img {
  /* max-width: 100%; */
  width: 100vw;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: orange;
  font-style: bolder;
  font-size: 20px;
}

.content p {
  color:black;
  line-height: 1.5;
  font-size: 20px;


}

.content img {
  max-width: 100%;
  position: relative;
  animation:rotate 10s linear infinite;
}

.category {
  display: flex;
  justify-content: space-between;
}
.category .cat{
  width: 30%;
}
.category .cat img{

  padding: 30px;
  margin-bottom: 25px;
}
.category .cat:hover img{
	transform: scale(1.3);
}
  